DISCORD_TOKEN=
NODE_ENV=development #or production
APP_ID=
PUB_KEY= #unused in app
SECRET= 
DATABASE_URL="mongodb+srv://<user>:<password>@<cluster>/<dbname>"
REPORTS_ID=
HOME_SERVER_ID=
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_REGION=
BOT_OWNER_ID=
GUILD_SKU_ID=

DISCORD_REDIRECT_URI=https://zenithbot.xyz/api/v1/auth/discord/callback

COOKIE_SECRET=

