services:
  zenithbot:
    build: .
    container_name: zenithbot
    restart: unless-stopped
    env_file:
      - .env
    # Map local "uploads" folder to the container's "/zenith/uploads" folder
    volumes:
      - ./uploads:/zenith/uploads
    networks:
      - zenith-net

networks:
  zenith-net:
    external: true
